export PGPORT=5432
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgrespass
export POSTGRES_DB=mva
export POSTGRES_HOST="127.0.0.1"
export PORT=7000
export AUTH0_ISSUER_URL='https://dev-326tk4zu.us.auth0.com/'
export AUTH0_AUDIENCE='https://www.vectoratlas.org'
export TOKEN_KEY='<token-key>'
export AZURE_STORAGE_CONNECTION_STRING='DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;'
export EMAIL_PASSWORD='<password>'
export AUTH0_CLIENT_SECRET = $AUTH0_CLIENT_SECRET
export AUTH0_CLIENT_ID = 'sQPoZzmH4QaAHVEJrDaK3pPeHG0SmCtr'

export MAILERPASSWORD='<password>'
export BASE_URL='http://localhost:3002'
export DATA_VALIDATION_URL='<api_backend_url>/validate/data/'
export DATA_INGESTION_URL='<api_backend_url>/upload/data/'
export TEMP_DIR='temp/'
export EMAIL_HOST='<smtp_server>'
export EMAIL_FROM='<sender_email>'
export EMAIL_PASSWORD=<sender_password>
export EMAIL_PORT=<smtp_server_port> e.g 587 for Gmail
export EMAIL_SECURE=0 <to send emails securely>
export SENT_EMAIL_FOLDER='<sent_email_folder> e.g for Gmail it is [Gmail]/Sent Mail. For outlook it may be something else'
export IMAP_SERVER='<imap_server>'
export IMAP_PORT=<imap_server_port> e.g 993
export DOI_RESOLVER_BASE_URL='<ui_url>/map?doi='
export DATACITE_USER='<datacite_user>'
export DATACITE_PASSWORD='<datacite_password>'
export DATACITE_URL='https://api.test.datacite.org/dois'
export DATACITE_PREFIX='10.82746'
export DOI_PUBLISHER='International Centre of Insect Physiology and Ecology'
export AZURE_CONTAINER_NAME=vectoratlas
export MAX_UPLOAD_SIZE=100000 #onekb=1000 100MB
export FILE_STORAGE_TYPE=Local # one of Azure or Local

SCRIPT_DIR=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &>/dev/null && pwd)
export DATA_TEMPLATES_FOLDER="$SCRIPT_DIR/templates/Vector Atlas"
export FULL_OCCURRENCE_DATA_FOLDER="$SCRIPT_DIR/../OccurrenceGeoJob/.tmp/target" # Set to value of TARGET_DIRECTORY of OccurrenceGeoJob. Ensure job has been ran first.
